:global {
    header {
        min-height: $header-height;
        padding-top: $header-pt;
        display: flex;
        align-items: center;
        transition: top 5s ease-in-out 0ms;
        // margin-right: $main-pl;
        @include media("<=xs-tablet") {
            padding: 0;
            min-height: 5rem;
            // margin-right: 6px;
        }
    }
}

.sticky {
    background-color: $color-theme-bgContent;
    backdrop-filter: blur(50px);
    filter: none;
    background-position: center;
    background-size: cover;
    opacity: .95;
    z-index: 999;
    top: 0;
    min-height: fit-content;
    @include py(16px);

    .titlebar {
        &::after {
            display: none;
        }
    }
}

.titlebar {
    display: flex;
    &::after {
        content: " ";
        border: 3px solid $color-primary-800;
        width: 2rem;
        position: absolute;
        top: 105%;
        border-radius: 10px;

        @include media("<=xxs-laptop") {
            display: none;
        }
    }

    @include media("<=xxs-laptop") {
        span {
            position: relative;
            font-size: ft(23px);
        }
    }

    @include media("<=xs-tablet") {
        span {
            position: relative;
            font-size: ft(18px);
        }
    }

    @include media("<=mobile") {
        span {
            position: relative;
            font-size: ft(16px);
        }
    }
}

.nav {
    margin-left: auto;
    @include media(">xs-tablet") {
        justify-content: space-between;
    }

    @include media("<=xs-tablet") {
        margin-left: auto;
    }

    #{attr(icon)} {
        display: flex;
        align-items: center;
        height: fit-content;
        border-radius: 50%;
        color: $color-theme-button-hover;
        box-shadow: 0px 3px 1rem 1px rgba(128, 128, 128, 0.199);
    }

    .themeBtn {
        display: flex;
        border-radius: 999px;
        align-items: center;
        span {
            @include mx(8px);
            font-weight: 200;
        }
    }
}

.avatarText {
    @extend %flex-y;
    align-items: flex-start;
    justify-items: center;
}

@include media("<=xs-tablet") {
    .desc,
    .avatarText,
    .themeBtn {
        display: none !important;
    }

    .search {
        margin-right: 10%;
    }
}

.headernav {
    display: flex;
    align-items: center;
}

.menuButton {
    font-size: ft(20px);
    margin-right: auto;
    padding: 0 0.9rem 0 0;
    display: none;
    // background-color: rgba(128, 128, 128, 0.178);
    border-radius: 4px;
    color: $color-theme-emphasis;
    &:hover {
        background-color: $color-theme-bgColor;
    }
    @include media("<=xxs-laptop") {
        display: block;
    }

    // @include media('<=lg-mobile') {
    //     display: none;
    // }
}

// .user {
//     @include media("<=lg-mobile") {
//         display: none;
//     }
// }
.notifications {
    width: 340px;
    max-height: 400px;
    overflow-y: auto;

    @include media("<=440px") {
        right: -180%;
    }

    @include media("<=xs-mobile") {
        width: 340px;
    }

    @include media("<=340px") {
        width: 320px;
    }

    @include media("<=330px") {
        width: 80vw;
    }
}
