.container {
    @extend %container;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    // padding-bottom: 2rem;
}
.main {
    background-color: $color-theme-bgContent;
    margin-left: calc($sidebar-width + 4px);
    overflow: auto;
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    header {
        min-height: $header-height;
        padding-top: $header-pt;
        display: flex;
        align-items: center;
        margin-right: $main-pl;

        .breadcrumbIcon {
            @include size(12px);
        }
    }

    footer {
        margin-top: auto;
    }

    main {
        flex-grow: 1;
        display: flex;
        margin-right: $main-pl;
        flex-direction: column;
    }
}

.sidebar {
    width: $sidebar-width;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    background-color: $color-theme-bgColor;
}
