.col-1 {
    flex-basis: 45%;
}

.col-2 {
    flex-basis: 27.5%;
}

.col-3 {
    flex-basis: 27.5%;
    @include px(1rem)
}

.wallet {
    &:hover {
        background-color: rgb($rc-theme-bgColor / .6);
        cursor: pointer;
        // border: 1px solid $color-theme-bgColor;
    }

    &.selected {
        border: 1px solid $color-info-200;
    }
}
