.title {
    font-size: ft(70px);
    text-transform: capitalize;
    color: $color-theme-emphasis;
    font-weight: 800;
}

.small {
    font-weight: 300;
    font-size: ft(13px);
}

.subtitle {
    font-size: ft(58px);
    text-transform: capitalize;
    color: $color-theme-emphasis;
    font-weight: 800;
}

.text {
    font-size: ft(15px);
    font-weight: 300;
    color: $color-theme-text;
}

.heading {
    font-size: ft(50px);
    font-weight: 600;
    text-transform: capitalize;
    color: $color-theme-text;
}

.subheading {
    font-weight: 600;
    font-size: ft(32px);
    text-transform: capitalize;
    color: $color-theme-text;
}

.other {
    position: relative;
}

.header {
    font-size: ft(17px);
    font-weight: 500;
    // color: $color-theme-emphasis;
}

.titlebar-title {
    font-size: ft(16px);
    text-transform: capitalize;
    font-weight: 600;
    color: $color-theme-icons;
}
