.main {
    background-color: $color-theme-bgColor;
    padding: 0.6rem;
    line-height: 0;
    border-radius: 999px;
    height: fit-content;
    @extend %flex-x-center;
    box-shadow: 4px 7px 15px 1px rgb($rc-theme-shadow / .1);
}
