body {
    background-color: $color-theme-bgContent;
    color: $color-theme-text;
    font-family: Poppins !important;
    overflow: hidden;

    #{prime(mask)} {
        z-index: 99999999999999999999999999999999999999999999 !important;
        background-color: rgba(0, 0, 0, 0.123) !important;
    }
}

.scontainer {
    padding-left: 1rem;
    padding-right: 1rem;
}

section {
    margin-bottom: 2rem;

    @include media("<=tablet2") {
        margin-bottom: 1.3rem;
    }

    &::last-child {
        margin-bottom: 0 !important;
    }
}

.sticky-nav {
    position: fixed;
    height: fit-content !important;
    z-index: 99999999999999999999999999999999999999999999999999999;
    background: rgb($rc-theme-bgContent / 0.2);
    border-radius: 10px;
    backdrop-filter: blur(20px);

    .navbar {
        @include py(0.4rem !important);
    }
}

.container-snap::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container-snap {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.p-selectbutton {
    display: flex;
    column-gap: 8px;

    .p-button[tabindex="0"] {
        background-color: $color-primary;
        font-weight: 400;
    }
}
.p-button {
    padding: 0.3rem 1rem;
    font-weight: 200;
    font-size: ft(15px);
    background-color: rgb($rc-primary / 0.7);
    border-radius: 4px;
    color: white;
    border: 1px solid $color-primary;

    &:hover {
        background-color: $color-primary;
    }
}

.hide-label {
    svg {
        margin: auto;
    }
    #{prime(label)} {
        display: none;
    }
}

// aside {
//     @include media('<=xxs-laptop') {
//         display: none;
//     }
// }

[data-pc-name="inputotp"] {
    display: flex;
    gap: 9px;

    input {
        padding: 0.8rem 3px;
        width: 3rem;
        text-align: center;
        border: 1px solid $color-theme-button;
    }
}

.noData-p {
    @include media("<=2xs-mobile") {
        font-size: 0.85em;
    }

    @include media("<=xs-mobile") {
        font-size: 0.9em;
    }
}

#nprogress {
    z-index: 999999999999999999999999999999999999999999999999999999999999 !important;
    position: fixed;
}

.dark-mode {
    @include theme("bgColor", $rc-theme-dark-bgColor);
    @include theme("bgContent", $rc-theme-dark-bgContent);
    @include theme("emphasis", $rc-theme-dark-emphasis);
    @include theme("icons", $rc-theme-dark-icons);
    @include theme("button", $rc-theme-dark-button);
    @include theme("button-hover", $rc-theme-dark-button-hover);
    @include theme("button-text", $rc-theme-dark-button-text);
    @include theme("border", $rc-theme-dark-border);

    #nprogress {
        *,
        & {
            background-color: rgb(255, 130, 130) !important;
        }
    }
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $color-theme-button-text;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.dark-mode {
    ::-webkit-scrollbar-thumb {
        background: $color-theme-dark-bgColor;
    }
    ::-webkit-scrollbar-track {
        background: #3737377d;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: black;
    }
}

[data-pc-name=toast] {
    z-index: 99999999999999999999999999999999999999999999999999999;
}
