body {
    background-color: $color-theme-bgContent;
    color: $color-theme-text;
    font-family: Poppins !important;
    overflow: hidden;
}

.scontainer {
    padding-left: 1rem;
    padding-right: 1rem;
}

section {
    margin-bottom: 1.5rem;
}
